# Ignore build output folders
/Debug/
/Release/

# Ignore STM32CubeIDE metadata caches
/.settings/
/.metadata/
/.project
/.cproject

# Ignore vendor drivers
/Drivers/

# Ignore OS-specific files
.DS_Store
Thumbs.db